@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Poppins:wght@500&display=swap');
body{
    background: #0C151D;
    color: aliceblue;
    height: 100%;
    width: 100%;
    margin:0px;
    font-family: Poppins;
}

a{
    text-decoration: none;
    color: #A3ABB2;
}

p.top {
    text-align: center;
    color: #A3ABB2;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

p.footer {
    position: relative;
    bottom: 0px;
    color: #A3ABB2;
    text-align: center;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 40px 0px;
}

header.profile.info {
    display: flex;
    padding: 50px 0px 0px 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

h2 {
    color: #F1F2F4;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
}

h4 {
    color: #A3ABB2;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
    padding: 0px 0px 5px 0px;
}

ul.social-media {
    display: inline-flex;
    align-items: center;
    gap: 26px;
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    }

ul.profile.facts {
    display: flex;
    width: 375px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

li.facts1 {
    color: #A3ABB2;
    display: flex;
    width: 103px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-family: poppins;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
}

p {
    color: #A3ABB2;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

ul.profile.buttons.container {
    display: flex;
    width: 375px;
    padding: 18px 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

.Tab.Tab-buttons {
    display: flex;
    width: 100%;
    height: 64px;
    padding: 5px 45px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    border-radius: 10px
}
.profile {
    display: flex;
    justify-content: center;
    
}

.Tab {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.btn{
    display:inline-block;
    font-weight:400;
    color:#212529;
    text-align:center;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-color:transparent;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    @media (prefers-reduced-motion:reduce){
        .btn{transition:none}
    }
    li.btn:hover{
        border: 1px solid rgba(98, 186, 27, 0.25);
        display: flex;
        width: 182px;
        height: 55px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 0px solid #3E64AA;
        color: #171F26 !important;
        font-family: 'Poppins';
        list-style: none;
        justify-content: center;
        align-items: center;
        background: #56CFFC !important;
    }
    
    
    li.btn.download {
        display: flex;
        width: 182px;
        height: 55px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 0px solid #3E64AA;
        color: #A3ABB2;
        font-family: 'Poppins';
        list-style: none;
        justify-content: center;
        align-items: center;
        background: #171F26 ;
    }
    li.btn.contact {
        display: flex;
        width: 182px;
        height: 55px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 0px solid #3E64AA;
        background: #171F26;
        list-style: none;
        font-family: 'Poppins';
        color: #A3ABB2;
        align-items: center;
        justify-content: center;
    }
    

.switch {
    display: flex;
    width: 100%;
    height: 64px;
    gap: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background: #171F26;
}

ul.switch-buttons {
    width: 154px;
    height: 50.303px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 0px solid #3E64AA;
    background: #0C151D;
}

li.switch-btn.primary {
    display: flex;
    width: 182px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 0px solid #3E64AA;
    background: #0C151D;
    color: #A3ABB2;
    font-family: 'Poppins';
    align-items: center;
    justify-content: center;
}


li.switch-btn.secondary {
    display: flex;
    width: 182px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 0px solid #3E64AA;
    background: #171F26;
    color: #A3ABB2;
    font-family: 'Poppins';
    align-items: center;
    justify-content: center;
}

content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.Tab-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    padding: 0px 21%
}

img.user {
    width: 200px;
    height: 200px;
}

nav {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    gap: 20px;
}

button{
    display: flex;
    width: 182px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 0px solid #3E64AA;
    background: #171F26;
    color: #A3ABB2;
    font-family: 'Poppins';
    align-items: center;
    justify-content: center;
}
button:focus{
    display: flex;
    width: 182px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 0px solid #3E64AA;
    background: #0C151D;
    color: #A3ABB2;
    font-family: 'Poppins';
    align-items: center;
    justify-content: center;
}

button.active{
    display: flex;
    width: 182px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 0px solid #3E64AA;
    background: #0C151D;
    color: #A3ABB2;
    font-family: 'Poppins';
    align-items: center;
    justify-content: center;
}

button#nav-home-tab{
    border: none;
    border-radius: 20px;
    width: 182px;
    height: 55px;
}

button#nav-profile-tab {
    border: none;
    border-radius: 20px;
    width: 182px;
    height: 55px;
}

.nav{
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-pills{
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #0d6efd
    gap: 20px;
}

.gambar {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
